@media (min-width: 768px){
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin-right: 0;
      margin-left: 200px;
  }
}
.logo > img {
 	max-width: 170px;
 }
.logo {
	position: absolute;
	top: 5px;
	left: 6px;
}
.navbar-default {
  border-bottom: 5px solid #72C02C;
  background-color: white;
}

#navbar-search {
  margin-left: 55px;
  padding-left: 28px;
  border-left: 1px solid #A2A2A2;
}
#navbar-search > .form-group > input {
  border: none;
  width: 205px;
}
.navbar {
  margin: 0px;
}
#search-btn {
  border: none;
  color: #A2A2A2;
}
.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 14px;
}