/* Add here all your css styles (customizations) */
.tp-caption .revolution-link{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

.tp-caption .revolution-link:hover{
    color: #dddbdb;
    border-bottom: 2px solid #dddbdb;
}
.ribbon-wrapper {
    position: relative;
    z-index: -1;
}

.ribbon-wrapper-green {
    width: 185px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: -15px;
    right: -3px;
}

.ribbon-green {
    font: bold 18px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -35px;
    top: 50px;
    width: 300px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}​
 #auth0-root .auth0-lock.auth0-lock .auth0-lock-header {
     height: auto;
 }

#auth0-root .auth0-lock-name {
    display: none;
}

#auth0-root .auth0-lock.auth0-lock .auth0-lock-header-logo {
        height: auto !important;
        width: 100% !important;
    }
}
.auth0-lock.auth0-lock .auth0-lock-header-logo {
    height: auto !important;
    width: 100% !important;
    padding-top: 25px;
    display: inline-block;
    margin: 0 0 10px;
    vertical-align: middle;
}
.auth0-lock.auth0-lock .auth0-lock-name {
    font-size: 22px;
    visibility: hidden;
}
.auth0-lock.auth0-lock .auth0-lock-tabs li.auth0-lock-tabs-current {
    background-color: #72c02c;
    cursor: default;
    box-shadow: 0px 0px 10px grey
}
.auth0-lock.auth0-lock .auth0-lock-header-bg >.auth0-lock-header-bg-solid{
background: rgba(241,241,241,0.8);
}

@media (max-width: 560px) {
  .discover-box {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .discover-box {
    width: 300px;
  }
}
.flex-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#topcontrol {
    display: none;
}